body{
    background-color: #0f0f0f;
    color: white;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    background-color: orange;
    padding-left: 10px;
    justify-content: left;
    margin-bottom: 10px;
}
nav a{
    padding: 10px;
    color:black;
}
nav a:hover{
    background-color: orangered;
}
img {
    width: 200px;
    height: 125px;
}
#galleryContent{
    width: 650px;
    height: 420px;
}
#galleryContent img{
    margin: 5px;
}